{% extends "index.html" %}

{% block content %}


<div class="mt-5">

    <!-- <img src="https://w7.pngwing.com/pngs/851/676/png-transparent-computer-icons-casa-dei-sogni-d-oro-social-media-organization-government-film-and-television-institute.png" > -->
    <h3>Department Details</h3><hr>
    <button><a href="/departments/add">Add New Departments</a></button>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Department Id</th>
            <th scope="col">Department Name</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for dept in departments.keys() %}
            <tr>
                <th scope="row"> {{ departments[dept]['dept_id'] }}</th>
                <td><a href="/departments/{{departments[dept].dept_id}}">{{departments[dept]['name']}}</a></td>
                <td><a href="/departments/{{departments[dept].dept_id}}/edit"><button>Edit</button></a></td>
                <td><a href="/departments/{{departments[dept].dept_id}}/delete"><button>Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}