{% extends "index.html" %}

{% block content %}

<div class="my-5">
	<h3>Edit Students</h3><hr>

	<form action="/students/{{student['student_id']}}/edit" method="POST">
		{{ form.csrf_token }}
		<p>
			{{form.name.label}}<br>
			{{form.name(size=32)}}
		</p>
		<p>
			{{form.credits.label}}<br>
			{{form.credits(size=32)}}
		</p>
        <p>
			{{form.dept_id.label}}<br>
			{{form.dept_id }}
		</p>
        <p>
			{{form.sec_id.label}}<br>
			{{form.sec_id }}
		</p>
		<button type="submit">Submit</button>
	</form>

</div>


{% endblock content %}