{% extends "index.html" %}

{% block content %}
<div class="mt-5">

    <h3>Instructor Details</h3>
    <hr>
    <button><a href="/instructors/add">Add New Instructors</a></button>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Instructor Id</th>
            <th scope="col">Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Department</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for inst in instructors.keys() %}
            <tr>
                <th scope="row"> {{ instructors[inst]['instructor_id'] }}</th>
                <td><a href="/instructors/{{ instructors[inst]['instructor_id'] }}">{{ instructors[inst]['instructor_name'] }}</a></td>
                <td>{{ instructors[inst]['salary'] }}</td>
                <td><a href="/departments/{{ instructors[inst]['dept_id'] }}">{{ department_names[instructors[inst]['dept_id']] }}</a></td>
                <td><a href="/instructors/{{ instructors[inst]['instructor_id'] }}/edit"><button>Edit</button></a></td>
                <td><a href="/instructors/{{ instructors[inst]['instructor_id'] }}/delete"><button>Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
  {% endblock content %}