{% extends "index.html" %}

{% block content%}
  <div class="sv_container mt-5 p-3">
    <div class="row">
      <div class="sv_container col-6">
        <div class="sv_image_main">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN_UjpOJTuMi4OdLLLt2qRM27hFZk_-M0wCA&usqp=CAU">
          </div>
      </div>
      <div class="col-6">
        <h3 class="text-center">
          Student Management
        </h3>
        <div>
          <li>
            <h4><a href="/students">Get Student Details</a></h4>
            <h4><a href="/students">Get Student Details</a></h4>
          </li>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}