{% extends "index.html" %}

{% block content %}
<div class="mt-5">

    <h3>Section Management</h3>
    <hr>
    <button><a href="/sections/add">Add New Sections</a></button>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Section Id</th>
            <th scope="col">Semester</th>
            <th scope="col">Year</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for s in sections.keys() %}
            <tr>
                <th scope="row"><a href="/sections/{{ sections[s]['section_id'] }}">{{ sections[s]["section_id"] }} </a></th>
                <td>{{ sections[s]["semester"] }}</a></td>
                <td>{{ sections[s]["year"] }}</td>
                <td><button><a href="/sections/{{ sections[s]['section_id'] }}/edit"> Edit</a></button></td>
                <td><form action="/sections/{{ sections[s]['section_id'] }}/delete" method="POST"> 
                    <button type="submit">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
